@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    font-family: 'Bangers', cursive;
}

body {
    background-color: #041562;
}

h1 {
    color: white;
    font-size: 36px;
}

.subtitulo {
    color: white;
    font-size: 24px;
}

/*
label {
    background-color: tomato;
    width: 310px;
    height: 50px;
}

input {
    background-color: aqua;
    width: 310px;
    height: 50px;
}

button {
    background-color: blueviolet;
    width: 310px;
    height: 50px;
}
*/

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.tarjetas, .boton-de-ataque {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.tarjeta-de-mokepon {
    width: 150px;
    color: antiquewhite;
    background-color: #11468f;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid yellowgreen;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon img { 
    width: 80px;
}

input {
    display: none;
}

.tarjeta-de-mokepon:hover {
    transform: scale(1.3);
    transition: all 0.5s ease;
    background-color: #7ca0f3;
}

input:checked + label {
    background-color: #5D8BF4;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: #11468f;
    color: white;
    margin-top: 20px;
    font-size: 24px;
}

#boton-mascota {
    width: 200px;
}

button:hover {
    background-color: #004cff;
    transform: scale(1.3);
    transition: all 0.3s ease;
}

#seleccionar-ataque {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mensajes {
    width: 150px;
    background: cyan;
    padding: 1rem 6rem;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
    text-align: center;
}

.tarjetas-ataques {
    display: inline-flex;
    gap: 10px
}


#vidasJugador, #vidasEnemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataque-del-jugador, .ataque-del-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    .tarjetas {
        flex-direction: column;
    }

    .boton-de-ataque {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #mensajes {
        padding: 1rem 5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #boton-reiniciar {
        text-align: center;
    }

    .tarjetas-ataques {
        display: flex;
        flex-direction: column;
    }
}